{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.tags) }}
     <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
